<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Comic Convert</title>

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='index.css')}}" />
		<script
			defer
			src="{{ url_for('static', filename='index.js')}}"></script>
	</head>
	<body>
		<main>
			<!--change this later maybe-->
			<div>
				<div>
					<h1 class="accent-title">Comic</h1>
				<div>
				<h1 class="title">
					Convert
				</h1>
					</div>
				<div class="flex">
					<p class="subtitle">Turn any comic into dialogue</p>
				</div>
			</div>

			<div id="img">
					<label class="custom-upload">
						<input
							type="file"
							id="img-upload"
							accept="image/jpeg, image/png, image/jpg, image/gif" />
						<svg
							width="14"
							height="18"
							fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M8.3.046A1 1 0 0 1 9 1v5h4a1 1 0 0 1 .82 1.573l-7 10A1 1 0 0 1 5 17v-5H1a1 1 0 0 1-.82-1.573l7-10A1 1 0 0 1 8.3.047Z"
								fill="#fff" />
						</svg>
						<span>Upload Image</span>
					</label>
					<div id="display-image" class="hidden"></div>
				
			</div>
			<div class="sentences">
				<ul class="sentence-list">
					<!-- 					<li><button class="sentence hidden"></button></li>
					<li><button class="sentence hidden"></button></li>
					<li><button class="sentence hidden"></button></li>
					<li><button class="sentence hidden"></button></li>
 -->
				</ul>
			</div>
		</main>

		<div id="pop-up" class="pop-up">Sentence copied to clipboard</div>
	</body>
</html>
